.footer-align{
    padding: 10px;
    height: 37px;
    text-align: center;
    margin: 0;
    background-color: #badbfd;
}

.footer-align p {
    float: left;
    margin: 0;
}

.footer-align a {
    float: right;
}
