*{
    margin: 0;
    padding: 0;
}
.productData{
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 2.3;
}
.dealOfDay{
    color: #0000ff;
}
.decoration{
    height: 170px;
    width: 170px;
}